html, body {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 100px;
  background: url("https://tse1.mm.bing.net/th?id=OIP.LJ48M8y6e9F35tlMg_2rMQEsCo&pid=15.1&P=0&w=321&h=181") no-repeat center center;
  background-size: cover;
}

.btn {
  padding: 8px 30px;
  display: inline-block;
}

a.btn:hover {
  background:#ffa800;
  color:#000;
}
