html, body {
  margin: 0;
}

#fond { /* c'est l'image */
  display : block;
  width : 100%;
  height : 100%;
}

.btn3 {
  background-color: #1c1c1c;
  color: #fff; 
  text-decoration: none;
}

.navigation {
  position: fixed;
  top: 0; left: 0;
  background-color: Black;
  text-align: right;
  width: 100%;
  line-height: 30px;
}

.navigation li{
  color: White;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.logo {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  line-height: 5px;
  z-index: 1;
  color: White;
  margin-left: 100px;
  margin-top: 7px;
  font-style: italic;
}

.backgroundinscription {
	background: url(http://cdn.pcwallart.com/images/cool-wallpaper-1.jpg) center center no-repeat;
    position: absolute;
    top: 100px;
 	color: White;
	margin-left: 230px;
	margin-top: 50px;
	padding: 270px;
	border: 5px solid lightgrey;
	border-radius: 10px;
}

.inscription {
	position: absolute;
    top: 100px;
 	color: White;
	margin-left: 290px;
	padding: 134px;
	}


